/* =========================
   PRODUCTOS
   ========================= */

.products {
  width: 100%;
}

.products-table-container {
  width: 100%;
}

.products-table {
  min-width: 900px;
}

.products-table td strong {
  color: #222;
}

/* =========================
   ESTADOS
   ========================= */

.status.available {
  background: #e8f5e9;
  color: var(--rodeo-success);
}

.status.unavailable {
  background: #fbe9e7;
  color: var(--rodeo-danger);
}